language: minimal
os: linux
arch: amd64
dist: focal
branches: 
  except:
    - CI-latest
script:
- sudo apt-get install -y texlive-latex-extra texlive-xetex latexmk xzdec 
- sudo apt-get install -y sshpass
- sudo tlmgr init-usertree 
- sudo tlmgr option repository http://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2019/tlnet-final/
- sudo tlmgr --no-verify-downloads install bibtex IEEEtran tools url arydshln booktabs sttools etoolbox titlesec appendix parskip kvoptions ltxcmds kvsetkeys float caption tikzpagenodes pgf ifoddpage imakeidx xkeyval nowidow hyperref infwarerr textpos enumitem tcolorbox environ listings wrapfig needspace ean ocr-b changepage tabulary multirow geometry zapfding helvetic
- git -C .. clone https://github.com/MEGA65/mega65-libc.git
- git -C .. clone --branch=development https://github.com/MEGA65/mega65-core.git
- make mega65-book.pdf
- make mega65-book.pdf
- make mega65-basic10-reference.pdf
- make mega65-basic10-reference.pdf
- make mega65-chipset-reference.pdf
- make mega65-chipset-reference.pdf
- make mega65-developer-guide.pdf
- make mega65-developer-guide.pdf
- make mega65-userguide.pdf
- make mega65-userguide.pdf
after_failure:
- ./genhtml.sh
- ssh-keygen -R ${SFTP_SERVER}
- sshpass -p ${SFTP_PASSWORD} scp -o StrictHostKeyChecking=no *.pdf -P ${SFTP_PORT} ${SFTP_USER}@${SFTP_SERVER}:manuals-upload/
- sshpass -p ${SFTP_PASSWORD} scp -o StrictHostKeyChecking=no *.log -P ${SFTP_PORT} ${SFTP_USER}@${SFTP_SERVER}:manuals-upload/
- sshpass -p ${SFTP_PASSWORD} scp -o StrictHostKeyChecking=no index.html -P ${SFTP_PORT} ${SFTP_USER}@${SFTP_SERVER}:manuals-upload/
before_deploy:
- |
  if [[ -z "$TRAVIS_TAG" ]]; then
    export TRAVIS_TAG=CI-latest
  fi
deploy:
- provider: releases
  api_key: $GITHUB_API_KEY
  file_glob: true
  file: 
  - $TRAVIS_BUILD_DIR/*.pdf
  - $TRAVIS_BUILD_DIR/*.log
  skip_cleanup: true
  prerelease: true
  draft: false
  overwrite: true
  on:
    tags: false
    branch: 176_automate_doc_build
